body {
    margin: 0px;
    padding: 0;
}

#mainImage {
    margin: 0;
    padding: 0;
    position: relative;
}

#mainImage img {
    width: 100%;
    height: 800px;
    display: block;
}

#header {

    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 14, 56);
    z-index: 1;
}

#header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

#header a.logo {
    text-align: center;
    padding: 0;
}

#header a.logo img {
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#header a:hover {
    background-color: #99cbff;
    color: black;
}

.header-right a {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}


.header-right {
    float: right;
    margin-top: 20px;
    box-sizing: border-box;
}

#header_bottom {
    position: absolute;
    top: 70px;

    width: 100%;
    text-align: center;
}

#header_bottom h1 {

    color: rgb(255, 60, 0);
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    transition: color 0.3s ease-in-out;
}

#header_bottom h2 {
    margin-top: 450px;
    color: rgb(0, 0, 0);
    font-family: 'Inconsolata', monospace;
    font-size: 55px;
    transition: color 0.3s ease-in-out;
}

#header_bottom h3 {

    color: rgb(0, 0, 0);
    font-family: 'Inconsolata', monospace;
    font-size: 55px;
    transition: color 0.3s ease-in-out;
}

#header_bottom a:hover {
    color: #ff9900;
}

#header_bottom h3:hover {
    color: #ff9900;
}

#header_bottom a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
}

#elenco {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.elenco_container {
    width: 100%;
}

#elenco img {
    width: 100%;
    height: 337px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;

}

a:hover #img1,
a:focus #img1 {
    transform: scale(1.5) rotate(-3deg);
}

a:hover #img2,
a:focus #img2 {
    transform: scale(1.5) rotate(5deg);
}

a:hover #img3,
a:focus #img3 {
    transform: scale(1.5) rotate(-7deg);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-links li {
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.disclaimer {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}

/* CSS PER GESTIONE_UTENTE */

#main_gestione_utente img {
    height: 950px;
    width: 100%;
    display: block;
}

#main_gestione_utente {
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
}


.container_form_gestione_utente {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.form_gestione_utente {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    margin: auto;
    padding: 30px 40px;
    max-width: max-content;
    border-radius: 10px;

}

.form_gestione_utente h1 {
    font-size: 36px;
    text-align: center;
}

.form_gestione_utente .input-box {
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.form_gestione_utente input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.form_gestione_utente .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0 0 0 .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.form_gestione_utente .custom-btn {
    text-align: center;
    padding: 10px 20px;
}

.form_gestione_utente .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 15px;

}

.form_gestione_utente p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 20px;
}

.register-link p a:hover {
    text-decoration: underline;
}

.register-ok h2 {
    color: green;
}

/*  CSS PER LA STORIA */
#contenutoStoria {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    top: 3%;
    margin-left: 15%;
    margin-right: 15%;

}

#contenutoStoria h2 {
    color: #007bff;
}

#contenutoStoria .underscored {
    border: 1px solid #ff6666;
    padding: 2px;
}

#contenutoStoria h3 {
    color: #007bff;
}

#contenutoStoria .grassetto {
    font-weight: bold;
}

/* CSS PER LE NEWS */
#contenutoNews {
    margin-top: 3%;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    top: 3%;
    margin-left: 15%;
    margin-right: 30%;
    display: flex;
    margin-bottom: 3%;
}

#contenutoNews img {
    height: 90px;
    width: 90px;
    max-width: 100px;
    margin-top: 10px;
    margin-right: 20%;
}

#contenutoNews a {
    text-decoration: none;
}

#contenutoNews a:hover {
    text-decoration: underline;
}

#contenutoNews .titolo {
    font-size: 30px;
}

#contenutoNews .argomento {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#contenutoNews .testo {
    margin-right: 20px;
    /* Ci devono stare 20 px di spazio fra il testop e l'imm altrimenti va a capo */
}

#contenutoNews .argomento img {
    margin-left: auto;
    /* Sposta l'immagine a destra */
}

/* CSS PER IL QUIZ */
#mainQuiz {
    margin: 0;
    padding: 0;
    position: relative;

}

#mainQuiz img {
    width: 100%;
}

#quiz_title {
    position: absolute;
    top: 70px;

    width: 100%;
    text-align: center;
}

#quiz_title h1 {
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    transition: color 0.3s ease-in-out;
}

#main-box {
    background-color: #33A474;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-weight: 400;
    height: 800px;
    /*Per modificare la lungheza dello sfondo*/
    width: 100%;
    display: flex;
    flex-direction: column;

}

.custom-box {
    width: 700px;
    /*Per modificare la larghezza bel box*/
    height: 150px;
    /*Per modificare l'altezza*/
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.hide {
    display: none;
}

.home-box h3 {
    font-size: 18px;
    color: #000;
    font-weight: 550;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
}

.home-box p span {
    font-weight: 550;
}

.home-box .quiz-btn {
    margin-top: 20px;
    cursor: pointer;

}

.quiz-box {
    height: 450px;
}

.quiz-btn {
    padding: 15px 45px;
    background-color: #33A474;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.quiz-box .question-number {
    font-size: 18px;
    color: #33A474;
    font-weight: 600;
    border-bottom: 1px solid #cccc;
    padding-bottom: 10px;
    line-height: 25px;

}

.quiz-box .questions-text {
    font-size: 22px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container {
    cursor: pointer;
}

.quiz-box .option-container .option {
    background-color: #cccc;
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;

}

.quiz-box .quiz-btn {
    margin: 15px 0;
    cursor: pointer;


}

/* CSS PER RISULTATO PERSONALITA */

#mainPersonalita img {
    width: 100%;
}

#contenutoPersonalita {
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.6;
    color: #333;
    top: 3%;
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 50px;


}

#contenutoPersonalita .underscored {
    border: 1px solid #ff6666;
    padding: 2px;
}

#contenutoPersonalita h3 {
    color: #007bff;
}

#contenutoPersonalita .grassetto {
    font-weight: bold;
}

#contenutoPersonalita img {
    width: 100%;
}

#mostra_risultato a {
    text-decoration: none;
}

#mostra_risultato h3 {
    padding-bottom: 15px;
}